#H{
    background: url(https://upload.wikimedia.org/wikipedia/commons/4/42/Mahesh_Babu_in_Spyder.jpg);
    color: rebeccapurple;
    
}
p{
    color: green;
    top: 30px;
}
#P{
    background-color: blue;
    position: relative;
    top: 30px;
    width: 300px;
    background: url(https://c4.wallpaperflare.com/wallpaper/886/929/249/neon-welcome-neon-hd-wallpaper-preview.jpg);
}
