{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css\us.css' %}">
    <link rel="stylesheet" href="{% static 'css/registation.css' %}">
    <link rel="stylesheet" href="{% static  'css/forgot.css' %}">
{% block title %}
    <title>Hello, world!</title>
    
{% endblock %}
  </head>
  <body>
            <nav class="nav" style="background: linear-gradient(45deg,blue,green,yellow);">
                <a href="{% url 'admin:index' %}" class="nav-link" style="color: azure;">Admin</a>
                <a href="{% url 'Registation' %}" class="nav-link" style="color: azure;">Registation</a>
                <a href="{% url 'home' %}" class="nav-link" style="color: aliceblue;">Home</a>


                {% if user.is_authenticated %}
                <link rel="stylesheet" href="{% static 'css/home.css' %}">
                <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>
                <a href="{% url 'display_profile' %}" class="nav-link">display_profil\</a>
                {% else %}
                <a href="{% url 'user_Login' %}" class="nav-link" style="color: azure;">User_Login</a>
                {% endif %}
            </nav>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    {% block body_block %}
    {% endblock %}
  </body>
</html>